html {
  --blue-cl: #1f373d;
  --blue-light-cl: #919eb1;
  --yellow-cl: #ffcc01;
  --yellow-hover-cl: #ffe16a;
  --time-transition: 0.4s;
  --height-header: 94px;
  /* font-sizer*/
  --fs-h1: 62px;
  --fs-h2: 40px;
  --fs-h3: 25px;
}

i {
  display: flex;
}

img {
  max-width: 100%;
}

body {
  font-family: mr;
  font-size: 13px;
  color: #1f373d;
  width: 100%;
  margin: 0 auto;
  line-height: 30px;
}
.heading{
font-size: var(--fs-h1);
    color: var(--blue-cl);
    line-height: 76px;
    font-family: mb;
    letter-spacing: -0.4px;
}
 .h2{
  font-size: var(--fs-h2);
  line-height: 50px;
}
.textbox{
  margin-bottom: 42px;
}
.--pd {
  padding:79px;
}
.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.disflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ======================================================================================= */
.header {
  width: 100%;
  height: var(--height-header);
  background-color:var(--blue-light-cl);
}

.header .container {
  height: 100%;
}

.header .menu {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header .menu li a {
  text-decoration: none;
  color: var(--blue-cl);
  padding: 16px;
  line-height: auto;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.header .menu li a:hover {
  color: var(--yellow-hover-cl);
}

.header .cta {
  display: flex;

}

.header .cta .btnmain {
  text-decoration: none;
  color: #1f373d;
  height: 40px;
  padding: 0 21px;
  background: #ffcc01;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.header .cta .btnmain:hover {
  background-color: var(--yellow-hover-cl);
}

.header .cta .btnmain.--transparent {
  background: none;
}

.header .cta .btnmain.--transparent:hover {
  color: var(--yellow-hover-cl);
}

/* HERO */
.schero {
  width: 100%;
  height: calc(100vh - var(--height-header));
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
.schero .container{
  z-index: 2;
  height: 100%;
}
.schero .schero_text{
  padding-top: 140px;
}
.schero .schero_text .heading{
margin-bottom: 41px;
}
.schero .schero_text .schero_text-search{
  display: flex;
  align-items: center;
  height: 31px;
}
.schero .schero_text .schero_text-search .inputsearch{
  height:100%;
  position: relative;
}
.schero .schero_text .schero_text-search .inputsearch i{
  display: flex;
  position: absolute;
  top:50%;
  left: 27px;
  transform: translateY(-50%);
  color: #000;
}
.schero .schero_text .schero_text-search .inputsearch input{
  width: 366px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
  outline:0;
  border: 0;
  padding: 20px 20px 20px 55px;
  font-family: mr;
  color: var(--blue-light-cl);
  font-size: 15px;
}
.schero .schero_text .schero_text-search .btnsearch{
   height: 100%;
  background-color: var(--yellow-cl);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--blue-cl);
  font-family: mm;
  cursor: pointer;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition); 
}
.schero .schero_text .schero_text-search .btnsearch:hover{
  background: var(--yellow-hover-cl);
}
.schero .schero_scroll{
  position: absolute;
  left: -19px;
  bottom: 137px;
  transform: rotate(-90deg);
color: #818181;
}
.schero .schero_scroll img{
display: flex;
position: absolute;
transform: rotate(90deg);
left: -35px;
}
.schero .schero_location{
  max-width: fit-content;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--yellow-cl);
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 0 70px;
}
.schero .schero_locatio .schero_location-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.schero .schero_locatio .schero_location-item i{
  display: flex;
  margin-right: 30px;
}
.schero .schero_locatio .schero_location-item span{
  color: var(--blue-cl);
  font-size: 18px;
}
.schero .schero_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
   z-index: 1; 
} 
/*COMPANY*/
.sccompany .container{
display: flex;
align-items: flex-start;
}
.company__content{
  width:50%;
}
.company__box{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap:45px;
}
.company__box .box{
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.company__box .box .number{
  color: var(--yellow-cl);
  font-family: mb;
}
.company__box .box .text{
  font-family: smb;
  color: var(--blue-cl);
}

/* APPARTMENT */
.appartment {
  background-color: #f6f5f4;
}

.appartment .heading {
  padding-top: 82px;
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 900;
}

.app__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.appartment .app__list .item {
  padding: 16px 15px;
  width: calc(100% / 3);
}

.appartment .app__list .item .item__img {
  height: 0px;
  padding-bottom: 105.6%;
  overflow: hidden;
  position: relative;
}

.appartment .app__list .item .item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.appartment .app__list .item .item__img img:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.appartment .item__content {
  background-color: #ffff;
  padding: 20px;
}

.appartment .item__content .title a {
  text-decoration: none;
  color: #1f373d;
  font-weight: 900;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appartment .item__content .info {
  margin-top: 30px;
  margin-bottom: 12px;
}

.appartment .item__content .info .price {
  color: #ffcc01;
  font-size: 18px;
  font-weight: 700;
}

.appartment .item__content .info .more_item span {
  color: #c4cbd5;
  margin-right: 20px;
}

.appartment .item__content .info .more_item img {
  margin-right: 10px;
}

.appartment .appartments__btn a {
  margin: auto;
  padding: 26px 46px;
  color: #1f373d;
  font-size: 15px;
  background-color: #ffff;
  margin-top: 35px;
  margin-bottom: 76px;
}

.appartment .appartments__btn a:hover {
  opacity: 0.7;
}


/* HOW IT WORKS */
.hiw {

  background-color: #ffffff;
}

.hiw .heading {
  padding-top: 76px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 900;
}

.hiw .des {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 74px;
}

.hiw .listboxs {
  margin-left: -15px;
  margin-right: -15px;
}

.hiw .listboxs .item {
  background-color: #ffff;
  margin-right: 50px;
  width: calc(100% / 3);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(117, 117, 117, 1);
  box-shadow: 1px 1px 4px 0px rgba(117, 117, 117, 1);
}

.hiw .listboxs :hover {
  background-color: #ffcc01;
}

.hiw .listboxs .item:hover {
  color: #ffff;
}

.hiw .listboxs .item .item_number {
  font-size: 60px;
  font-weight: 900;
  color: #3f3f3f;
  padding: 35px 0px 0px 40px;
}

.hiw .listboxs .item .item_title {
  font-size: 15px;
  font-weight: 600;
  color: #1f373d;
  padding: 22px 0px 30px 40px;
}

.hiw .listboxs .item .item_info .item_info-text {
  color: #1f373d;
  line-height: 2;
  margin: 0px 71px 28px 71px;
}

.hiw .listboxs .item .item_info .btnline {
  text-decoration: none;
  color: #1f373d;
  font-weight: 600;
  margin: 0px 0px 64px 74px;
  display: inline-block;
}

.btnline:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  display: block;
  margin-top: 12px;
}

/* SERVICES */
.services {
  background-color: #ffff;
}

.services .heading {
  margin-top: 92px;
  margin-bottom: 2px;
  font-size: 40px;
  font-weight: 900;
}

.services .des {
  line-height: 2;
  margin-bottom: -3px;
  white-space: pre-line;
}

.services .services_listapp {
  display: flex;
  justify-content: space-between;
}

.services .services_listapp .item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .services_listapp .content {
  margin-left: 126px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.services .content .item_content .title {
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 50px;
}

.services .content .item_content .item_content-text {
  margin-bottom: 44px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.325px;
}

/* AGENTS */
.agents {
  background-color: #f6f5f4;
}

.agents .heading {
  font-size: 40px;
  font-weight: 900;
  padding: 82px 0px 45px 0px;
}

.agents .des {
  line-height: 2;
}

.agents .listapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}


.agents .listapp .item {
  padding: 16px 15px;
  width: calc(100% / 3.3);
}

.agents .listapp .item .agent_img {
  height: 0px;
  padding-bottom: 105.6%;
  overflow: hidden;
  position: relative;
}

.agents .listapp .item .agent_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.agents .listapp .item .agent_img img:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.agents .agent__info {
  background-color: #ffff;
  padding: 20px;
}

.agents .agent__info .title_agent a {
  font-size: 15px;
  text-decoration: none;
  color: #1f373d;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agents .agent__info .info {
  margin-top: 30px;
  margin-bottom: 12px;
}

.agents .agent__info .info .info-name a {
  color: #ffcc01;
  font-size: 15px;
}

.agents .agent__info .info .soical .logo img {
  margin-left: 10px;
}

/* LOCATION */
.location {
  background-color: #fff;
}

.location .location_item {
  height: 100%;
  margin-top: 87px;
}

.location .location .heading {}

.location .location_item .location-img {
  width: 540px;
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}

.location .location_item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: end;
}

.location .location_item:nth-child(even) .location_content {
  margin-right: 127px;
}

.location .location_item:nth-child(odd) .location_content {
  margin-left: 127px;
}

.location .location_item .btn_add {
  background-color: #ffcc01;
  width: 200px;
  margin: 0px 20px;
  height: 80px;
  position: absolute;
  bottom: -30px;
}

.location .location_content {
  max-width: 441px;
}

.location .location_content .title {
  font-family: Montserrat5;
  font-size: 25px;
  color: #1f373d;
  margin-bottom: 42px;
}